# run: ga .github/workflows/main.yml && privatcommit -m "Working" && gps && gsleep 1s && open "https://github.com/snipem/monako/actions"
name: Build Monako

on:
  pull_request: 
  push:
    branches:
      - master

# on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.14.3]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}

    - name: Setup env
      shell: bash
      run: |
        echo "GOPATH=${{ github.workspace }}/../go" >> $GITHUB_ENV
        echo "${{ github.workspace }}/../go/bin" >> $GITHUB_PATH

    - name: Setup Ruby for use with actions
      uses: actions/setup-ruby@v1.1.2
    
    - name: Install asciidoctor
      run: gem install asciidoctor asciidoctor-diagram
    
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: 'true'

    - name: Dependencies
      run: make --always-make deps test_deps

    - name: Fetch Theme
      run: make --always-make theme

    - name: Test
      run: make --always-make test

    - name: Build
      run: make --always-make build
      
    - name: Codecov
      uses: codecov/codecov-action@v1.0.6
      with:
        file: coverage.out

    - name: Run Monako and compose site
      run: make --always-make compose
