on:
  create:
    tags:
      - v*
  push:
    branches:
      - develop-release #for testing this

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.14.3]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}

    - name: Setup env
      shell: bash
      run: |
        echo "GOPATH=${{ github.workspace }}/../go" >> $GITHUB_ENV
        echo "${{ github.workspace }}/../go/bin" >> $GITHUB_PATH

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: 'true'

    - name: Dependencies
      run: make --always-make deps theme
      
    - name: Reset go.mod and go.sum
      run: git checkout -- go.mod go.sum

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v1
      with:
        version: latest
        args: release --rm-dist
        key: ${{ secrets.YOUR_PRIVATE_KEY }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

